<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
          <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0 " />-->
    <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
      <link rel="stylesheet" href="/stylesheets/uikit.gradient.addons.min.css">
      <script type='text/javascript' src='//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js'></script>
      <link rel="stylesheet" href="/stylesheets/summernote/summernote.css">
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css">
    	<link rel="stylesheet" href="/stylesheets/uikit-orders.css">
      <link rel="stylesheet" href="/stylesheets/accordion.min.css">
        <script type='text/javascript' src='/javascripts/vendor/moment.min.js'></script>
  </head>

  <body  style="direction:rtl">
  <div class="uk-container uk-container-center uk-margin-top uk-margin-bottom">
    <%- body %>
	</div>
		<script type='text/javascript' src='/javascripts/vendor/uikit.min.js'></script>
    <script type='text/javascript' src='/javascripts/vendor/datepicker.min.js'></script>
    <script type='text/javascript' src='/javascripts/vendor/moment.min.js'></script>
    <script type='text/javascript' src='/javascripts/vendor/jquery.noty.packaged.min.js'></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script> 
    <script type='text/javascript' src='/javascripts/vendor/summernote/summernote.js'></script>
    <script type='text/javascript' src="/javascripts/vendor/summernote/lang/summernote-he-IL.js"></script>
    <script type='text/javascript' src='/javascripts/general.js'></script>
    <script type='text/javascript' src='/javascripts/texteditor.js'></script>
    <script type='text/javascript' src='/javascripts/vendor/accordion.min.js'></script>
  </body>
</html>